// Base
// -------------------
// Used for global styles
// Or to override certain Atom core styles

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

.atom-dock-resize-handle.left,
.atom-dock-resize-handle.right {
  width: 3px;
}
