.atom-dock-content-wrapper.bottom {

  .item-views {
    .fade-background-mixin;
    .fade-border-mixin;
  }

  #linter-panel {
    padding: 1px;

    table.sb-table.linter thead {
      background: 0;

      th {
        border: 0;
      }

    }

  }

}
