// All Editors (Text and Mini)
atom-text-editor {

  .cursor {
    transition: opacity @default-transition;
    border-color: @text-color-selected;
  }

}

// Text Editor
atom-text-editor:not([mini]) {
  padding: 15px 0;
  .fade-background-mixin;
  .fade-border-mixin;

  .invisible-character,
  .indent-guide {
    color: fadeout(@text-color, 90%);
  }

  .gutter .line-number {
    opacity: 1;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    color: fadeout(@text-color, 60%);
  }

  .gutter .line-number,
  .line {
    transition: color @default-transition;
  }

  .gutter .line-number.cursor-line,
  .line.cursor-line {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .gutter .line-number:not([class*="git-line-"]).cursor-line,
  .line.cursor-line {
    color: @text-color;
  }

}

// Mini Editor
// -------------------
// Mini Editors are the "text inputs" used in find+replace or in the settings.
atom-text-editor[mini] {
  font-family: @font-family;
  padding-left: @component-padding / 2;
  color: @text-color;
  border-radius: @component-border-radius;
  background-color: @input-background-color;
  transition: background-color @default-transition;
  overflow-y: hidden;

  &.is-focused {
    background-color: @input-focused-background-color;
  }

  .placeholder-text {
    color: @text-color-subtle;
  }

  .selection .region {
    background-color: @background-color-selected;
  }

}

background-tips {
  top: 1px !important;
  .fade-background-mixin;
  .fade-border-mixin;
}
