// Git
// -------------------
// Used to color git status

.status {
  color: @text-color;
}

.status-added {
  color: @text-color-success; // green
}

.status-ignored {
  color: @text-color-subtle; // faded
}

.status-modified {
  color: @text-color-warning; // orange
}

.status-removed {
  color: @text-color-error; // red
}

.status-renamed {
  color: @text-color-info; // blue
}

atom-text-editor .gutter .line-number.git-line-added,
atom-text-editor .gutter .line-number.git-line-modified {
  padding: 0;
}

atom-text-editor .gutter .line-number.git-line-added {
  //background-color: fadeout(mix(@background-color-success, @base-background-color, 50%), 80%);
  color: @text-color-success;
  border: 0;
}

atom-text-editor .gutter .line-number.git-line-modified {
  //background-color: fadeout(mix(@background-color-warning, @base-background-color, 50%), 80%);
  color: @text-color-warning;
  border: 0;
}

atom-text-editor .gutter:not(.git-diff-icon) .line-number.git-line-removed {
  &::before {
    display: none;
  }
  &::after {
    opacity: 0.7;
    width: 100%;
    border-bottom: 1px solid @text-color-error;
  }
}

.github-Panel {
  .fade-border-mixin;
}

.github-Panel,
.github-StubItem-github-tab-controller {
  background-color: @secondary-background-color;
}

.github-CommitView-editor {
  background: 0;
  background-color: @base-background-color;
  atom-text-editor.editor:not([mini]) {
    padding: 0;
    background: 0;
    background-color: @base-background-color;
    &::before {
      display: none;
    }
  }
}

.github-StagingView-headerButton {
  border: 0;
  transition: color @default-transition;
  &:hover {
    color: lighten(@text-color, 25%);
  }
}

.github-StagingView-header,
.github-CommitView {
  border: 0;
}

.github-HunkView {
  font-family: @font-family;
  border: 0;
  background: 0;

  + & {
    margin-top: 20px;
  }
}

.github-HunkView-header {
  background: 0;
}

.github-HunkView-lineNumber,
.github-HunkView-header,
.github-HunkView-stageButton,
.github-HunkView-discardButton,
.github-FilePatchView-header {
  border: 0;
}
