// Lists
// -------------------
// Used in different places, like the Tree View, Commmand Palette etc.
// Overrides: atom/static/lists.less

// List Group -------------------
.list-group {

  li {
    padding-left: @component-padding / 2;
    transition:
      color @default-transition,
      background-color @default-transition;

    // We want to highlight the background of the list items because we dont know their size.
    &.selected {
      color: @text-color-selected;
      background-color: @background-color-selected;

      &:before {
        display: none;
      }

    }

  }

}

// List Tree -------------------
.list-tree {
  color: @text-color;
  .selected {
    color: @text-color-selected;
  }
}

// Select List -------------------
.select-list {

  li {
    padding: @component-padding / 2 @component-padding;
  }

  .status {
    float: right;
  }

}

// Popover List -------------------
// Used as a popover for something like autocomplete.
.select-list.popover-list {
  @popover-list-padding: @component-padding / 2;
  padding: @popover-list-padding;
  border-radius: @component-border-radius;
  background-color: @overlay-background-color;
  box-shadow: 0 2px 8px 1px hsla(0, 0%, 0%, 0.3);

  .list-group {
    margin-top: @popover-list-padding;

    li {
      padding-left: @popover-list-padding;
    }

  }

}
