::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  transition: all @default-transition;
}

::-webkit-scrollbar-thumb {
  background-color: lighten(@base-background-color, 15%);
  outline: 1px solid lighten(@base-background-color, 15%);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
