.settings-view {
  .fade-background-mixin;

  .config-menu {
    border: 0;
    padding: 10px;
    min-width: 250px;
    .fade-background-mixin;
    .fade-border-mixin;

    .button-area {
      margin: 10px 4px 0 4px;
    }

    .icon:before {
      width: 20px;
    }
  }

  .pane-item {
    overflow-y: hidden;
  }

  select.form-control {
    font-family: @font-family;
    padding-left: @component-padding / 2;
    color: @text-color;
    border-radius: @component-border-radius;
    background-color: @input-background-color;
    transition: background-color @default-transition;

    &:hover,
    &:focus {
      background-color: @input-focused-background-color;
    }

  }

}
