// Status Bar
// -------------------
// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

status-bar.status-bar {
  font-size: @smaller-font-size;
  line-height: 33px;
  color: fadeout(@text-color, 60%);
  border: 0;
  background-color: @base-background-color;

  a {
    color: fadeout(@text-color, 60%);
  }

  .line-ending-tile {
    min-width: 16px;
  }
}
