// Tabs
// -------------------
// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
  background-color: @tab-bar-background-color;
  &:not([location="left"]) {
    border-bottom: 1px solid lighten(@tab-background-color-active, 5%);
  }

  .tab {
    box-sizing: border-box;
    position: relative;
    color: lighten(@tab-background-color, 25%);
    max-width: 250px;
    padding-left: 18px;
    padding-right: 32px;
    height: @tab-height;
    line-height: @tab-height;
    font-size: @font-size;
    background-color: @tab-background-color;
    transition:
      background-color @default-transition,
      color @default-transition,
      width @default-transition,
      flex @default-transition;

    &.active {
      bottom: -1px;
      color: @text-color;
      background-color: @tab-background-color-active;
      border-top: 1px solid lighten(@tab-background-color-active, 5%);
      border-right: 1px solid lighten(@tab-background-color-active, 5%);
      border-left: 1px solid lighten(@tab-background-color-active, 5%);

      &:not(:first-child) {

      }

      &[data-type="TreeView"] {
        display: none;
        border: 0;
      }

      &::before {
        /*content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: lighten(@tab-background-color-active, 5%);
        transition:all @default-transition;*/
      }
    }

    &.modified {

      color: @text-color-warning;

      &:not(:hover) .close-icon {
        border: 0;
        top: 1px;
        right: 14px;

        &::before {
          font-family: 'Octicons Regular';
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          font-size: 12px;
          width: 12px;
          height: 12px;
          content: "\f081";
        }
      }

      &::before {
        //background-color: @background-color-warning;
      }
    }

    &:not(.active) + .tab:not(.active) {
      border-left: 1px solid rgba(255, 255, 255, 0.05);
    }

    // Close Icon (the X) -------------------
    .close-icon:hover {
      color: @text-color-selected;
    }
    &.active .close-icon:hover {
      color: @text-color;
    }

    // Dragging -------------------
    // Styles get applied while dragging a tab
    &.is-dragging {
      background: darken(@tab-background-color, 10%);
      border: 1px solid lighten(@tab-background-color-active, 5%);
      opacity: 1;
      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
