// Tooltips
// -------------------
// Overrides: Bootstrap's `.tooltip`.

.tooltip {
  transition:
    visibility @default-transition,
    opacity @default-transition;

  &.top .tooltip-arrow {
    border-top-color: lighten(@base-background-color, 10%);
  }

  &.right .tooltip-arrow {
    border-right-color: lighten(@base-background-color, 10%);
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: lighten(@base-background-color, 10%);
  }

  &.left .tooltip-arrow {
    border-left-color: lighten(@base-background-color, 10%);
  }

  .tooltip-inner {
    line-height: 1;
    padding: .75em;
    white-space: nowrap;
    max-width: none;
    color: @text-color;
    background-color: lighten(@base-background-color, 10%);
  }

  .keystroke {
    padding: .15em .4em;
    margin: 0 -.3em 0 .25em;
    border-radius: max(2px, @component-border-radius / 2);
    color: @text-color-selected;
    background: @background-color-selected;
  }

}
