// Tree View
// -------------------
// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view,
.tree-view-root {
  padding: 4px 0 4px 2px;
}

.tree-view {
  color: fadeout(@text-color, 10%);
  background-color: @tree-view-background-color;
  .list-item {
    font-size: @font-size;
    transition:
      color @default-transition,
      background-color @default-transition;

    &:hover {
      color: @text-color-selected;
    }

    &::before {
      transition:
        color @default-transition,
        background-color @default-transition;
    }

  }

}
