// UI Variables
// -------------------
// These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.
// Overrides: atom/static/variables/ui-variables.less

// Font
@font-family: 'Roboto', '.SFNSText-Regular', 'SF UI Text', 'Helvetica', 'Segoe UI', sans-serif;
@font-size: 14px;
@smaller-font-size: 12px;
@input-font-size: 14px;

// Tabs
@tab-height: 34px;

// Rounded/Square Component Corners
@component-border-radius: 1px;

// Base colors
@base-background-color: #171717;
@secondary-background-color: #222222;
@base-border-color: @base-background-color;

// Mixin for faded backgrounds
.fade-background-mixin() {
  background: @secondary-background-color;
  background: linear-gradient(to bottom, @secondary-background-color 0%, @base-background-color 100%);
}

.fade-border-mixin() {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: lighten(@tab-background-color-active, 5%);
    background: linear-gradient(
      to bottom,
      lighten(@tab-background-color-active, 5%) 0%,
      fadeout(lighten(@tab-background-color-active, 5%), 100%) 90%
    );
  }

}

// Animation
@default-transition: 0.3s ease-out;

// Text Colors
@text-color: hsl(0, 0%, 66%);
@text-color-subtle: hsl(0, 0%, 50%);
@text-color-highlight: hsl(0, 0%, 94%);
@text-color-selected: hsl(0, 0%, 100%);

@text-color-info: #0088ff;
@text-color-success: #10e458;
@text-color-warning: #e7810c;
@text-color-error: #d92626;

// Background colors
@background-color-info: #0088ff;
@background-color-success: #10e458;
@background-color-warning: #e7810c;
@background-color-error: #d92626;

@background-color-selected: #333333;
@background-color-highlight: lighten(@background-color-selected, 1%);
@app-background-color: darken(@base-background-color, 5%);

// Component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: @app-background-color;
@input-focused-background-color: darken(@input-background-color, 5%);
@input-border-color: @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color: @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color: @base-border-color;

@button-background-color: lighten(@base-background-color, 10%);
@button-background-color-hover: lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: @base-border-color;

@tab-bar-background-color: @base-background-color;
@tab-bar-border-color: @base-border-color;
@tab-background-color: @tab-bar-background-color;
@tab-background-color-active: @secondary-background-color;
@tab-border-color: @base-border-color;

@tree-view-background-color: @base-background-color;
@tree-view-border-color: @base-border-color;

// Site colors
@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160, 70%, 42%); // green
@ui-site-color-3: hsl(32, 60%, 50%); // orange
@ui-site-color-4: #D831B0; // pink
@ui-site-color-5: #EBDD5B; // yellow

// Sizes
@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 32px;
